%box-shadow {
  border: 1px solid rgb(212, 209, 160);
  box-shadow: 1px 1px 3px rgb(168, 168, 168), 
    -1px -1px 3px rgb(168, 168, 168);
  border-radius: 6px;  
}

.modal-dialog-group{
  .modal-content-group {
    margin: 95px auto 0 auto;
    background-color: #edf1db;
    width: 450px;
    
    .modal-header {
      display: flex;
      justify-content: flex-end;
      border: none;
      padding: 0;
      
      .close {
        padding: 0 10px;
        font-size: 30px;
        font-weight: 900;
        color: rgba(94, 255, 0, 0.822);
        background-color: transparent;
        text-shadow: 1px 1px 2px #000000, 
          -1px -1px 2px #000000;
          transition: all .4s;

        &:hover {
          color: rgb(156, 84, 84);
          text-shadow: -1px -1px 2px #000000, 
          -1px -1px 2px #000000, 1px 1px 2px #000000;

        }
      }
    };

    .modal-body {
      padding: 0;
      .modal-title {
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: #626900;
      };

      .modal-input {
        margin: 10px 15px;
        background-color: rgb(255, 252, 236);
        text-transform: capitalize;
        border: 2px solid #dce4be;

        &:focus {
          border: 2px solid #edf1db;
        }
      };
    };
  
    .modal-footer {
      padding: 0;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
      border: none;

      .modal-footer-btn {
        font-weight: 600;
        transition: all .4s;
        margin: 0 5px;
        @extend %box-shadow;

        &:hover {
          background-color: #bcdbc4;
          color: black;
          box-shadow: 1px 1px 3px #3b3d36;
        }
      }
    };
  };
};

.modal-dialog-contact{
  .modal-content-contact {
    margin: 50px auto 0 auto;
    background-color: #edf1db;
    width: 350px;
    height: 100%;
    padding: 10px;
    
    .modal-header {
      display: flex;
      justify-content: space-between;
      border: none;
      padding: 0;
      margin-bottom: 10px;
      
      .close {
        padding: 0 10px;
        font-size: 30px;
        font-weight: 900;
        color: rgba(94, 255, 0, 0.822);
        background-color: transparent;
        text-shadow: 1px 1px 2px #000000, 
          -1px -1px 2px #000000;
          transition: all .4s;

        &:hover {
          color: rgb(156, 84, 84);
          text-shadow: -1px -1px 2px #000000, 
          -1px -1px 2px #000000, 1px 1px 2px #000000;

        }
      }
    };

    .modal-body {
      padding: 0;
      .modal-title {
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: #626900;
      };

      .modal-input {
        margin: 10px 15px;
        background-color: rgb(255, 252, 236);
        text-transform: capitalize;
        border: 2px solid #dce4be;

        &:focus {
          border: 2px solid #edf1db;
        }
      };
    };
  
    .modal-footer {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
      border: none;
      margin-top: 10px;

      .modal-footer-btn {
        font-weight: 600;
        transition: all .4s;
        
        @extend %box-shadow;

        &:hover {
          background-color: #bcdbc4;
          color: black;
          box-shadow: 1px 1px 3px #3b3d36;
        }
      }
    };
  };
};

.modal-dialog-remove { 
  .modal-content-remove {
    margin: 340px 300px 0 auto;
    background-color: #ff9797;
    width: 350px;
    padding: 10px;
    border: none;
    
    .modal-header {
      font-family: 'Poppins', sans-serif;
      justify-content: center;
      border: none;
      padding: 0;
      margin: 0;
      color: brown;

      .close {
        padding: 0 0 0 20px;
        font-size: 40px;
        font-weight: 700;
        color: rgba(94, 255, 0, 0.822);
        background-color: transparent;
        text-shadow: 1px 1px 2px #000000, 
          -1px -1px 2px #000000;
          transition: all .4s;

        &:hover {
          color: rgb(156, 84, 84);
          text-shadow: -1px -1px 2px #000000, 
          -1px -1px 2px #000000, 1px 1px 2px #000000;

        }
      }
    }
    .modal-body {
      padding: 10px;
      background-color: rgb(255, 133, 133);
      text-align: center;
      border: 0;

      .remove-name {
        font-weight: 600;
      }
    };
  }
}